NEXT_PUBLIC_WHATSAPP_NUMBER=56939351855
NEXT_PUBLIC_MERCADOPAGO_LINK=https://www.mercadopago.cl/
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_API_KEY=

ADMIN_USERNAME=bodegon
ADMIN_PASSWORD_HASH="pbkdf2_sha256$210000$fonocopete-maverik-v1$N3wHlcB+6GBD0NtH+JGaLkwfULdVS/3fTrnnh7gdLyM="
ADMIN_SESSION_SECRET=change-this-long-random-secret
FORCE_MAINTENANCE=false
NEXT_PUBLIC_FORCE_MAINTENANCE=false
SUPABASE_SERVICE_ROLE_KEY=
GMAIL_USER=fonocopeteconcepcion.maverik@gmail.com
GMAIL_APP_PASSWORD=
OWNER_EMAIL=fonocopeteconcepcion.maverik@gmail.com
